        input[type=submit] {
            display: block;
            padding:12px;
            font-size: 20px;
            background-color:$twilight-blue;
            color: $ice-blue;
            border:none;
        }
        textarea{
            width: 100%;
        }
        .form-box {
        display:flex;
        justify-content: space-between;
        }
        .form-box div {
            width:48%;
        }
        input[type=text]{
            width:100%;
            border: none;
            border-bottom: 1px solid $greenish-cyan;

        }
        
        .form-field {
            padding:20px;
            font-family:$lato-font;
            font-size: 20px;
            text-transform: capitalize;
            background-color:#fafffe;
            border:1px solid $greenish-cyan;
        }

        label {
         
            margin-right: 5px;
        }
         input {
            width: 100%;
            
        }
        label[for="message"] {
            display: inline-block;
            width: 100%;
            
        }
        label[for="message"],
        input[type="submit"] {
            margin: 20px auto 10px;
        }
        form {
            width: 700px;
            padding: 50px 0px;
            margin-bottom: -139px;
            
        }

        #fname {
        margin-right: 46px;
        }
        div.comments-flex:nth-child(2) {
        margin-bottom: 85px;
        }














