
header {
    .nav-bar {
         display:flex;
         flex-direction: row;
        justify-content: space-between;
         margin:0 50px ;
        text-transform: uppercase;
        .logo {
            color:$greenish-cyan;
            font-size:34.6px;
          
        }

        ul.nav-bar a {
            margin-left:20px;
            color:$ice-blue;
            font-size:20px;

        }

        ul.nav-bar{
            margin-top:40px;
            text-decoration:none;
        }

        ul.nav-bar > li:nth-child(1) > a:nth-child(1) {
        color: $greenish-cyan;
 
        }
        
        ul.nav-bar li a {
            text-decoration:none;
        }
    }

    .flex-box {
        display:flex;
        flex-direction: column;
        height:100%;
    
        h1 {
            line-height: 58px;
            letter-spacing: 6.7px;
            font-size:62px;
            display:flex;
            align-items: center;
            flex-direction: column;
            height:90%;
            justify-content:center;
            color: $twilight-blue;
            z-index: 999;
            span {
                color:$spruce;
                font-size:62px;
                letter-spacing: 6.7px;
            
             }
        }
    }   
        .sunglasses-pic{
            width:39%;
            position:relative;
            bottom:530px;
            height:500px;
        }

         
}

.img-home {
    background: url('../assets/home-image-1.jpg');
    height:100vh;
    background-size:cover;
}


