.hide-section {
    background-color:$light-light-blue;
    .hide-text {
        font-size: 20px;
    }
    .corners {

        padding:30px
    }

    .space-bottom-box{
        padding-bottom:20px;
     }


}
