    $lato-font: 'Lato', sans-serif;
    $play-fair: 'Playfair Display SC', serif;
    $greenish-cyan:#50e3c2;
    $black:#2c2c2c;
    $ice-blue:#fafffe;
    $twilight-blue:#063974;
    $light-light-blue:#d2f9f1;
    $spruce:#0c5f4c;    